/*	
	BASICS:
*/


html{
	width:100%;
	height:100%;
}

body{
	background-color:#c6c5b7;
	font-size:12px;
	font-family:'Helvetica', 'Arial', 'Sans-sherif';
	color:#494947;	
}


p{
	color:#494947;
	font-size:12px;
	font-family:'Helvetica', 'Arial', 'Sans-sherif';
	color:#494947;
}

a{
	color:#e9265e;
	text-decoration:none;
}

a img{
	border:0px;
}

#container{
	position:absolute;
	left:50%;
	width:952px;
	margin-left:-476px;
	padding-bottom:1px;
}


/*	
//
	TOP:
//
*/

#adminlink{
	position:absolute;
	top:10px;
	right:15px;
	height:16px;
	background-image:url('../img/frontside/icons/key.png');
	background-repeat:no-repeat;
	background-position:top left;
}

#adminlink a{
	color:#474749;
	margin-left:25px;
}

#adminlink a:hover{
	color:#222;
}

#topmenu{
	width:900px;
	height:13px;
	text-align:right;
	font-size:11px;
	position:absolute;
	top:16px;
}

#topmenu ul a{
	color:#494947;
	text-decoration:none;
}

#topmenu ul a:hover{
	color:#e9265e;
}

#topmenu ul{
	list-style:none;
}

#topmenu ul li{
	float:right;
	margin-left:25px;
}

#header{
	background-image:url('../img/frontside/header.png');
	width:952px;
	height:115px;
}


/*
//
	FOOTER:
//
*/

#footer{
	background-image:url('../img/frontside/footer.png');
	width:951px;
	height:60px;
	padding-top:20px;
	margin:0px;
	clear:left;
	clear:right;
}

#footer small{
	margin-left:430px;
}



/*
//
	CONTENT:
//
*/

h1{
	color:#e9265e;
	font-family:'Georgia', 'Times', 'Sherif';
	font-style:italic;
	font-weight:normal;
	font-size:37px;
	line-height:100%;
	padding:0px;
	margin:0px;
}

h2{
	color:#e9265e;
	font-family:'Georgia', 'Times', 'Sherif';
	font-weight:normal;
	font-size:20px;
	line-height:100%;
	padding:0px;
	margin-top:10px;
	
}


.content{
	background-image:url('../img/frontside/mainbg.png');
	width:876px;
	padding-top:5px;
	padding-left:75px;
	height:auto;
	clear:left;
	clear:right;
	
}

.content p{
	line-height:150%;
}

#menu{
	position:relative;
	top:15px;
	left:0px;
	width:210px;
	height:90%;
	padding-top:40px;
}

#menu a{
	color:#474749;
}

.menuitem{
	text-align:center;
	padding:10px;
	padding-left:10px;
	padding-right:10px;
	background-color:#e9e9e9;
	border:1px solid #cccccc;
	width:150px;
	border-radius:6px;
	padding-bottom:10px;
	margin-bottom:15px;
	-moz-border-radius:6px;
}

.menuitem:hover{
	background-image:url('../img/menubg.jpg');
	color:#474749;
	cursor:pointer;
}

#main{
	position:relative;	
	top:0px;
	left:0px;
	width:600px;
	padding-bottom:50px;
}

#main table{
	width:600px;
}

#main a{
	color:#e9265e;
	text-decoration:none;
}

#main a:hover{
	text-decoration:underline;
}


/*
	Mainpage
*/


.productsquare{
	position:relative;
	width:175px;
	height:175px;
	overflow:hidden;
	float:left;
	margin-right:11px;
	margin-bottom:20px;
	margin-left:11px;
}

.productname{
	position:absolute;
	bottom:0px;
	left:0px;
	width:165px;
	height:30px;
	display:none;
	z-index:2;
	padding:5px;
	background-color:transparent;
	background-image:url('../img/imgbg_black.png');
}

.productname table{
	width:175px;
}

.productsquare:hover .productname{
	display:block;
}

/*

	Product page:

*/

#mainimage{
	float:left;
	width:355px;
	margin-top:20px;
	margin-left:11px;
	margin-right:20px;
}

#maininfo{
	float:left;
	width:200px;
	margin-top:16px;
	text-align:right;
}

#maininfo td{
	border-bottom:1px dotted #cccccc;
	padding-bottom:7px;
	padding-top:7px;
}

#maininfo h3{
	color:#e9265e;
	font-family:'Georgia', 'Times', 'Sherif';
	font-style:italic;
	font-weight:normal;
	font-size:13px;
	line-height:1%;
	padding:0px;
}

#maininfo table{
	width:200px;
}

.big{
	font-weight:normal;
	font-size:15px;
	color:#e9265e;
	font-family:'Georgia', 'Times', 'Sherif';
	font-style:italic;
}

.photoitem{
	float:left;
	margin:5px;
	height:50px;
	width:50px;
	text-align:center;
	cursor:pointer;
}

/*

	Category page:

*/

#category{
	margin-top:30px;
	width:100%;
}

.paginator{
	clear:left;
	width:95%;
	text-align:center;
}

.paginator span{
	padding:5px;
	margin-left:10px;
	background-color:transparent;
}

.paginator .current, .paginator span:hover{
	background-color:#f0a7bc;
	border:0px;
}

/*

	OPTIONS:

*/

#options{
	margin-top:20px;
}


#options h2{
	height:25px;
	border-bottom:1px dotted #f0a7bc;
	padding-bottom:5px;
}

#options table{
	margin-top:5px;
	padding-bottom:50px;
	width:100%;
	text-align:center;
}


/*

	SEARCH:

*/

#search{
	margin-top:35px;
	width:100%;
	text-align:center;
}

/*
	
	PAGINA'S:

*/

#map{
	margin-top:20px;
	width:600px;
	height:350px;
}

#adres{
	position:absolute;
	padding:5px;
	background-color:#e5e5e5;
	opacity:0.7;
	filter:alpha(opacity=70);
}

#map div div div div div div{
	overflow:hidden;
}

#formfields{
	margin-top:50px;
}

#formfields a{
	color:#3C3C3D;
}

#formfields a:hover{
	color:#FFFFFF;
	text-decoration:none;
}

.formlabel{
	text-align:right;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:10px;
}

.forminput input{
	width:238px;
	height:28px;
	padding-left:15px;
	padding-top:5px;
	font-size:12px;
	background-image:url('../img/frontside/forminput.jpg');
	border:0px;
	margin-bottom:10px;
}

.formarea textarea{
	width:327px;
	height:129px;
	padding-left:15px;
	padding-top:5px;
	font-size:12px;
	background-image:url('../img/frontside/formarea.jpg');
	border:0px;
	margin-bottom:10px;
}

.formsubmit{
	cursor:pointer;
	margin-left:370px;
}

#error{
	color:#e9265e;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	border:1px dotted #e9265e;
	margin-bottom:20px;
	text-align:center;
	width:327px;
	display:none;
}



/*

	CART

*/

#cartdiv{
	width:100%;
	margin-top:20px;
}

#cartdiv table{
	margin-left:30px;
	width:90%;
	text-align:center;
}

#cartdiv table td{
	border-bottom:1px solid #cccccc;
	padding-top:10px;
	padding-bottom:10px;
}

#cartdiv table th{
	border-bottom:1px dotted #e9265e;
	padding-bottom:5px;
	padding-top:10px;
	font-weight:normal;
	font-family:'Georgia', 'Times', 'Sherif';
	font-style:italic;
	font-size:14px;
}

.cartnumber{
	color:#e9265e;
	font-family:'Georgia', 'Times', 'Sherif';
	font-style:italic;
	line-height:100%;
	font-size:14px;
	padding-right:3px;
}

.delete{
	background-image:url('../img/icons/delete.png');
	background-repeat:no-repeat;
	background-position:left center;
	float:right;
	width:20px;	
	height:16px;
	margin-right:50px;
}

.delete a{
	float:left;
	margin-left: 20px;
	padding-right:20px;
	margin-top:2px;
}

.cartlabel{
	border:0px;
	padding:2px;
	text-align:right;
	padding-right:10px;
}

.cartprice{
	border:0px;
	padding:2px;	
}


/*

	LOGIN:

*/

#login table{
	margin-top:10px;
}

#logintable, #redirecttable{
	width:50%;
	background-color:#e9e9e9;
	padding:10px;
	border:1px solid #cccccc;
}

#redirecttable{
	background-color:transparent;
	border:0px;
	width:100%;
	height:100%;
}

#redirecttable p, #redirecttable a{
	width:230px;
	padding:0px;
	margin:0px;
	margin-left:20px;
}

.tabletext{
	color:#e9265e;
	font-family:'Georgia', 'Times', 'Sherif';
	font-style:italic;
	line-height:100%;
	font-size:14px;
	padding-right:3px;
	padding-top:5px;
	padding-bottom:10px;
}

#logintable .error{
	color:#e9265e;
	border:1px dotted #e9265e;
	text-align:center;
	padding:10px;
}


#loginbtn{
	cursor:pointer;
}

.extrawidth{
	width:90px;
}

.small_text{
	padding:5px;
	font-size:14px;
	border: 1px solid #b3b3b3;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color:#b3b3b3;
	width:180px;
}

.small_text:focus{
	color:#666;
	border:1px solid #666666;
}


/*
	CHECK BESTELLING
*/

#userdiv, #paydiv{
	margin-top:20px;
	background-color:#e9e9e9;
	padding:10px;
	padding-left:30px;
	border:1px solid #cccccc;
	width:558px;
}

#userdiv table, #paydiv table{
	width:535px;
}

/*
	ACCOUNT:
*/

#accountinfo{
	width:100%;
	margin-top:20px;
	color:#555;
}

#accountinfo table{
	margin-left:10px;
}

.ordertitle{
	font-size:23px;
	font-family:'Georgia','Times';
	margin:0px;
	padding:0px;
	color:#555555;
	float:left;
}

.accounttitle{
	padding-top:20px;
	padding-left:10px;
}

.accountaddress{
	padding-left:10px;
}

.edit{
	background-image:url('../img/icons/edit.png');
	background-repeat:no-repeat;
	background-position:left center;
	float:left;
	width:60px;
	margin-top:10px;
	margin-left:20px;
	height:16px;
}

.edit a{
	padding-left:20px;
}

.ordertop{
	padding-top:15px;
	padding-bottom:5px;
	border-bottom:1px solid #555;
	color:#e9265e;
	font-family:'Georgia', 'Times', 'Sherif';
	font-style:italic;
	font-size:14px;
}

.ordertop small{
	font-style:normal;
	color:#555;
	width:50px;
}

.ordertop .alarm{
	color:red;
}

#totalorder{
	color:#e9265e;
	font-family:'Georgia', 'Times', 'Sherif';
	font-style:italic;
}



.orderproduct{
	padding:5px;
	padding-top:10px;
	border-bottom:1px solid #e3e3e3;
}

.orderbottom{
	padding-bottom:20px;
}

#edituser table{
	width:475px;
	margin-top:20px;
}

#edituser table hr{
	border:1px dotted #b3b3b3;
}

.input_text_edit, .input_text_editerror{
	padding:5px;
	font-size:12px;
	border: 1px solid #b3b3b3;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color:#b3b3b3;
	width:305px;
	margin-bottom:5px;
}

.input_text_editerror{
	background-color:#e9265e;
}

.input_text_editerror:focus{
	border:1px solid #666;
	color:#666;
	background-color:#ffffff;
}

.erroruser{
	color:#fff;
	background-color: #e9265e;
	text-align:center;
	padding:10px;
	width:400px;
}




#newuser table{
	width:100%;
	margin-top:20px;
}


#begin{
	padding-top:20px;
	padding-bottom:10px;
	border-bottom:1px solid #b3b3b3;
}

#step{
	padding-top:20px;
	padding-bottom:10px;
	
}

.input_text, .input_postal, .input_city, .input_text_error{
	padding:5px;
	font-size:12px;
	border: 1px solid #b3b3b3;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color:#b3b3b3;
	width:375px;
	margin-bottom:5px;
}

.input_postal{
	width:80px;
}

.input_city{
	width:275px;
	margin-left:10px;
}

.input_text:focus, .input_postal:focus, .input_city:focus{
	border:1px solid #666;
	color:#666;
}

.input_text_error{
	background-color:#e9265e;
}

.input_text_error:focus{
	border:1px solid #666;
	color:#666;
	background-color:#ffffff;
}

.erroruser{
	color:#fff;
	background-color: #e9265e;
	text-align:center;
	padding:10px;
	width:400px;
}

.erroruser p{
	color:#fff;	
}

#newuser a{
	color:#fff;
	text-decoration:underline;
}

#newuser a:hover{
	color:#fff;
	text-decoration:none;
}

.label{
	text-align:right;
	padding-right:10px;
}

/* 

BETALEN

*/

#paydiv a{
	text-decoration:none;
}

#paydiv a:hover{
	text-decoration:none;
}

#payments{
	margin-top:35px;
}

/*
	Buttons
*/

a.button { display: inline-block; padding: 3px 5px 3px 5px; font-family: 'Helvetica', 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 12px; color: #3C3C3D; text-shadow: 1px 1px 0 #FFFFFF; background: #ECECEC url('../img/css3buttons_backgrounds.png') 0 0 no-repeat; white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; border: 1px solid #CACACA; -webkit-border-radius: 2px; -moz-border-radius: 2px; -webkit-background-clip: padding-box; border-radius: 2px; outline: none; position: relative; zoom: 1; *display: inline; }
a.button.primary { font-weight: bold }
a.button:hover { color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5; }
a.button:active,
a.button.active { background-position: 0 -81px; border-color: #347BBA; background-color: #0F5EA2; color: #FFFFFF; text-shadow: none; }
a.button:active { top: 1px }
a.button.negative:hover { color: #FFFFFF; background-position: 0 -121px; background-color: #D84743; border-color: #911D1B; }
a.button.negative:active,
a.button.negative.active { background-position: 0 -161px; background-color: #A5211E; border-color: #911D1B; }
a.button.pill { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; padding: 2px 10px 2px 10px; background-position:0px -200px;}
a.button.pill:hover{ color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5; }
a.button.pillsmall { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; padding: 2px 10px 2px 10px; }
a.button.pillsmall:hover{ color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5; }
a.button.pillgiant { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; padding: 7px 20px 7px 20px; float:right; margin-right:20px;margin-top:-30px;}


a.button.left { -webkit-border-bottom-right-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-topright: 0px; border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-right: 0px; }
a.button.middle { margin-right: 0px; margin-left: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border-right: none; border-left: none; }
a.button.right { -webkit-border-bottom-left-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; margin-left: 0px; }
a.button.left:active,
a.button.middle:active,
a.button.right:active { top: 0px }
a.button.medium { font-size: 15px; padding-left: 13px; padding-right: 13px; }
a.button.big { font-size: 16px; padding-left: 17px; padding-right: 17px; }
a.button.giant { font-size: 16px; padding-left: 22px; padding-right: 22px; background-position:0 -193px;}
a.button.add {font-size:13px; padding-left: 5px; padding-right:12px; padding-bottom:3px;background-position:0 -193px;margin-left:20px;}
a.button.giant:hover { color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5; }
a.button.add:hover { color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5; }
a.button span.icon { display: inline-block; width: 14px; height: 12px; margin: auto 7px auto auto; position: relative; top: 2px; background-image: url('../img/css3buttons_icons.png'); background-repeat: no-repeat; }
a.big.button span.icon { top: 0px }
a.giant.button span.icon { top: 0px }
.alignright{margin-left:550px;}

a.button span.icon { display: inline-block; width: 14px; height: 12px; margin: auto 7px auto auto; position: relative; top: 1px; background-image: url('../images/css3buttons_icons.png'); background-repeat: no-repeat; }
a.big.button span.icon { top: 0px }
a.button span.icon.book { background-position: 0 0 }
a.button:hover span.icon.book { background-position: 0 -15px }
a.button span.icon.calendar { background-position: 0 -30px }
a.button:hover span.icon.calendar { background-position: 0 -45px }
a.button span.icon.chat { background-position: 0 -60px }
a.button:hover span.icon.chat { background-position: 0 -75px }
a.button span.icon.check { background-position: 0 -90px }
a.button:hover span.icon.check { background-position: 0 -103px }
a.button span.icon.clock { background-position: 0 -116px }
a.button:hover span.icon.clock { background-position: 0 -131px }
a.button span.icon.cog { background-position: 0 -146px }
a.button:hover span.icon.cog { background-position: 0 -161px }
a.button span.icon.comment { background-position: 0 -176px }
a.button:hover span.icon.comment { background-position: 0 -190px }
a.button span.icon.cross { background-position: 0 -204px }
a.button:hover span.icon.cross { background-position: 0 -219px }
a.button span.icon.downarrow { background-position: 0 -234px }
a.button:hover span.icon.downarrow { background-position: 0 -249px }
a.button span.icon.fork { background-position: 0 -264px }
a.button:hover span.icon.fork { background-position: 0 -279px }
a.button span.icon.heart { background-position: 0 -294px }
a.button:hover span.icon.heart { background-position: 0 -308px }
a.button span.icon.home { background-position: 0 -322px }
a.button:hover span.icon.home { background-position: 0 -337px }
a.button span.icon.key { background-position: 0 -352px }
a.button:hover span.icon.key { background-position: 0 -367px }
a.button span.icon.leftarrow { background-position: 0 -382px }
a.button:hover span.icon.leftarrow { background-position: 0 -397px }
a.button span.icon.lock { background-position: 0 -412px }
a.button:hover span.icon.lock { background-position: 0 -427px }
a.button span.icon.loop { background-position: 0 -442px }
a.button:hover span.icon.loop { background-position: 0 -457px }
a.button span.icon.magnifier { background-position: 0 -472px }
a.button:hover span.icon.magnifier { background-position: 0 -487px }
a.button span.icon.mail { background-position: 0 -502px }
a.button:hover span.icon.mail { background-position: 0 -514px }
a.button span.icon.move { background-position: 0 -526px }
a.button:hover span.icon.move { background-position: 0 -541px }
a.button span.icon.pen { background-position: 0 -556px }
a.button:hover span.icon.pen { background-position: 0 -571px }
a.button span.icon.pinpoint { background-position: 0 -586px }
a.button:hover span.icon.pinpoint { background-position: 0 -601px }
a.button span.icon.plus { background-position: 0 -616px }
a.button:hover span.icon.plus { background-position: 0 -631px }
a.button span.icon.reload { background-position: 0 -646px }
a.button:hover span.icon.reload { background-position: 0 -660px }
a.button span.icon.rightarrow { background-position: 0 -674px }
a.button:hover span.icon.rightarrow { background-position: 0 -689px }
a.button span.icon.rss { background-position: 0 -704px }
a.button:hover span.icon.rss { background-position: 0 -719px }
a.button span.icon.tag { background-position: 0 -734px }
a.button:hover span.icon.tag { background-position: 0 -749px }
a.button span.icon.trash { background-position: 0 -764px }
a.button:hover span.icon.trash { background-position: 0 -779px }
a.button span.icon.unlock { background-position: 0 -794px }
a.button:hover span.icon.unlock { background-position: 0 -809px }
a.button span.icon.uparrow { background-position: 0 -824px }
a.button:hover span.icon.uparrow { background-position: 0 -839px }
a.button span.icon.user { background-position: 0 -854px }
a.button:hover span.icon.user { background-position: 0 -869px }