#searchdiv{
	position:relative;
}

#searchinput{
	background-color:transparent;
	background-image:url('../../img/frontside/searchbg.png');
	border:0px;
	height:26px;
	width:168px;
	padding-left:10px;
	color:#474749;
	margin-top:15px;
}

#searchhotspot{
	width:30px;
	height:30px;
	position:absolute;
	right:0px;
	top:14px;
	background-color:#333;
	opacity:0;
	filter:alpha(opacity=0);	
	cursor:hand;
	cursor:pointer;
}